body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav {
  /* border-radius: 5px; */
  margin: 0;
  background-color: #36393f;
  position: fixed;
  min-width: 100%;
}
nav ul {
  list-style-type: none;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}
nav a:visited {
  color: white;
}
nav a:hover {
  color: cyan;
}

nav a.active {
  color: cyan;
}

nav .dropdown-languages {
  display: none;
}
nav .dropdown:hover .dropdown-languages {
  display: block;
}
nav .dropdown:hover .chevron-spin {
  transition: transform 0.5s;
  transform: rotate(90deg);
}
.chevron-spin {
  font-size: 80%;
}

.flex-parent-row {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.2em;
}
.flex-parent-col {
  display: flex;
  flex-flow: column wrap;
  font-size: 1.2em;
}
.flex-child {
  padding-right: 10px;
  border-radius: 5px;
  margin: 0px 4px;
  flex-shrink: 0;
}
.codeblock {
  border-left: 3px solid black;
}
.codeblock-code {
  padding-left: 10px;
  margin-left: 10px;
}
#header-img {
  width: 100%;
  height: 40%;
  margin: 15px 0px;
}
#article-header {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 10vh;
  text-align: center;
}
#main {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  width: 40%;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 150%;
  }
  img {
    display: none;
  }
  nav {
    min-width: 97%;
  }
  nav ul {
    margin: 5px;
    padding: 2px;
  }
  nav ul li {
    font-size: 70%;
    border-bottom: 1px solid white;
    margin: 1px;
    text-align: center;
  }
  
  iframe {
    height: 25%;
  }
 
  nav .dropdown:hover .dropdown-languages {
    display: none;
  }
  /* Hide chevron */
  .chevron-spin {
    display: none;
  }
  .flex-parent-row {
    flex-direction: column;
  }
  .flex-parent-col {
    justify-content: left;
    flex-grow: 1;
  }

  #main {
    width: 80%;
  }
  #article-header {
    margin-top: 30vh;
    margin-left: 5px;
  }
}
